DATABASE_URL=mongodb://localhost:27017/eshop
JWT_SECRET=zt_FUYkx7QZ7yP3PdkQ48Cxn_MmhNzddKbfy95Ibe4jRnJQm3XDcIeRwajqOZvBz9loJD2ES969v6166kIhuBQFHIff1xtPSO1UN-9zemCPC8Qa3geuIfCXI5f94CM1APN14dZFruCszbETEeLdbmmneCuZJmPs6UBccPFMoTa3TV_8OyZ9fiFGpd0Ot7w3EcqCxIzsTZRHllXuvL5Vc6RU_XTfzHF69R8BdUr2QduhucxRmCYYNvVX1Vmg7b52RHUBt3KClRX-piJRsFFrqHV0LGl61MttpWFcT17grJ-3dToqjAS337k982C_sa-Wfyhj8NgIgxarPeJ7x5cwlJw
